@import "tailwindcss";

@theme {

  --font-code: 'CourierPrime-Regular', sans-serif;
  --font-code-bold: 'CourierPrime-Bold', sans-serif;
  
}

@font-face{
  font-family: 'CourierPrime-Bold';
  src: url('./Fonts/CourierPrime-Bold.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'CourierPrime-Regular';
  src: url('./Fonts/CourierPrime-Regular.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}